/* Basic CSS for the navigation bar */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav ul {
    list-style-type: none;
    /* padding: 0; */
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Basic CSS for the form elements */
body {
    font-family: Arial, sans-serif;
    /* margin: 20px; */
    background-image: url("../image/pxfuel.jpg");
    background-size: cover;
}

h1 {
    margin-bottom: 20px;
}

div {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 100px;
}

input[type="text"],
input[type="number"],
select {
    width: 200px;
    padding: 5px;
}

button {
    padding: 7px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 25px;
}

button:hover {
    background-color: #45a049;
}

/* Basic CSS for the report section */
h2 {
    margin-top: 30px;
}

#report,
#result {
    padding: 10px;
    max-width: 400px;
    word-wrap: break-word;
}

#result {
    height: 400px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#result img {
    width: 200px;
    height: 100px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
.main{
    margin: 30px;
}
.mainBanner, .blahblah{
    color: white;
}
.socialMedia{
    margin: 10px;
    background-color: grey;
    opacity: .8;
}
.socialMedia a{
    color: white;
}
.searchResult{
    margin: 30px;
    width: 40%;

}
.messageInput{
    background-color: transparent;
    border-collapse: collapse;
    border-color: whwite;
    height: 40px;
    width: 100%;
    color: white;
}
input[type="text"],
input[type="email"] {
    border-color: white;
    border-collapse: collapse;
    border-width: 1px;
    border-radius: 10px;
}
textarea{
    border-color: white;
    border-collapse: collapse;
    border-width: 1px;
    border-radius: 10px;
}

#formMessage{
    width: 100%;
    height: 150px;
  }
.contactFormDiv{
    margin: 30px;
    padding: 30px;
}
.contactForm{
    color: white;
}

.searchResultParent{
    color: white;
    background-color: gray;
    opacity: .8;
    border-radius: 30px;
}

.searchResultImage{
    width: 100%;
}